@import 'colors';

.button-primary {
    background-color: $button-primary-background-color;
    background-image: none;
    letter-spacing: normal;
    color: $button-primary-text-color;
    border: 1px solid $button-primary-border-color;
    border-radius: 3px;
    padding: 4px;
    transition: background-color 0.3s, color 0.3s, border 0.3s;

    &:hover {
        background-color: $button-primary-background-color-hover;
        color: $button-primary-text-color-hover;
        border: 1px solid $button-primary-border-color-hover;
    }
}

.infobar {
    border: none;
    border-radius: 3px;
    font-size: 14px;
    background-color: $sidebar-search-background-color;
}

button {
    @extend .button-primary;
    text-transform: capitalize;
    padding: 8px;
    font-weight: bold;
}

.base-thumbnail {
    margin: 0px 24px 0px 8px;
    background-position: 0px 0px;
    width: 54px;
    height: 54px;
}

.base-expando {
    background-image: url($expando);
    background-color: transparent;
    width: 24px;
    height: 24px;
}