// Base color scheme for the entire stylesheet

$page-background-color: #303030;

$listings-background-color: #424242;
$sidebar-background-color: #212121;

// Reddit gold colors
$gold-base-text-color: #d2a332;

// Header colors
$header-background-color: #455a64;
$header-base-text-color: #fff;