@import 'colors';
@import 'images';
@import 'base';

.drop-choices {
    border: none;
    background-color: $page-background-color;
    padding: 8px !important;

    &.flairselector {
        box-shadow: none;
    }

    &.flairselector.active,
    &.active {
        border: none;
    }
}

.flairselector h2 {
    background: $listings-background-color;
    border-radius: 3px;
    padding: 4px;
    margin-bottom: 8px;
    text-transform: capitalize;
    color: $flair-selector-title-text-color;
}

.flairselector form {
    border-top: none;
    margin-top: 8px;
}

.linkflairlabel {
    font-size: 12px;
    font-weight: bold;
    border: none;
    color: $link-flair-text-color;
    background: $link-flair-background-color;
    border-radius: 3px;
    padding: 2px 4px;
    vertical-align: middle;
}

.memer {
    border: 1px solid;
    color: #FFF;
    border-radius: 3px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    padding: 2px;
}

.flair-memer {
    @extend .memer;
    background: #9144AD;
    border-color: #C86AEB;
}

.flair-senpai {
    @extend .memer;
    background: #9C0B0B;
    border-color: #D91A1A;
}