@import 'colors';
@import 'images';

#header {
    background-color: $header-background-color;
    border-bottom: 0px;
    min-height: 203px;
    color: $header-base-text-color;
    box-shadow: 0px 0px 3px #000;
    z-index: auto;
}

#sr-header-area {
    background-color: $header-background-color-dark;
    border-bottom: 0px;
    padding: 8px;
}

.sr-bar a,
.dropdown.srdrop .selected {
    color: $subreddit-link-base-text-color;
    transition: color 0.3s;
}

#sr-header-area:hover .dropdown.srdrop .selected,
#sr-header-area:hover .sr-bar a {
    color: $header-base-text-color;
    transition: color 0.3s;
}

.dropdown.srdrop .selected {
    background-image: none;
    padding-right: 0px;
}

.sr-bar .separator {
    color: transparent;
}

#sr-more-link {
    display: none;
}

#header-img.default-header {
    position: absolute;
    background-image: url($reddit-logo);
    background-position: 0px 0px;
    width: 38px;
    height: 32px;
    margin: 0px;
    left: 32px;
    top: 165px;
    z-index: 102;
}

#header-bottom-left {
    .pagename.redditname {
        color: $header-background-color;

        a {
            background-image: url($logo);
            display: inline-block;
            height: 24px;
            width: 189px;
            color: transparent;
            margin: 16px;
            margin-top: 52px;
            margin-left: 32px;
        }

        a:after {
            content: "Professional Streamer";
            color: $header-base-text-color;
            display: block;
            margin-top: 16px;
            margin-bottom: 16px;
            font-variant: normal;
            font-size: 12px;
            font-weight: normal;
        }

        a:before {
            content: url($destiny-illus);
            position: absolute;
            top: 34px;
        }
    }

    .tabmenu {
        position: absolute;
        z-index: 100;
        bottom: 0;
        left: 16px;
        padding: 16px;
        padding-left: 63px;
        min-width: 440px;
        display: block;
        background-color: $listings-background-color;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        box-shadow: 0px 2px 3px #000;

        li:first-child {
            margin-left: 0px;
        }

        li:last-child {
            margin-right: 0px;
        }

        li {
            margin: 0 8px;

            a {
                font-weight: normal;
                text-transform: capitalize;
                background-color: transparent;
                padding: 0px;
                font-size: 14px;
                display: inline-block;
                color: $menu-link-color;
            };
        }

        li.selected a,
        li a:hover {
            border: 0px;
            color: $menu-link-color-active;
            text-shadow: 0px 0px 10px $menu-link-color-active;
        }

        li a,
        li a:hover {
            transition: color 0.3s;
        }
    }
}

#header-bottom-right {
    position: absolute;
    bottom: 16px;
    right: 16px;
    font-size: 12px;
    background: none;

    .user,
    .user a {
        color: $header-base-text-color;
    }

    .user a {
        display: block;
        font-size: 21px;
        margin-bottom: 16px;
        text-align: right;
    }

    .separator {
        color: transparent;
    }

    .pref-lang {
        font-weight: normal;
    }
}

#sr-header-area .drop-choices.srdrop {
    z-index: 200;
}

a.message-count,
a.message-count:hover,
a.message-count:active,
a.message-count:visited {
    background-color: transparent;
}