@import 'colors';

body > .content {
    background-color: $listings-background-color;
    position: relative;
    z-index: 100;
    margin-top: 0px;
    margin-left: 16px;
    margin-right: 364px;
    padding: 16px;
    padding-top: 1px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.thing.link,
.thing.comment,
.thing.new-comment {
    padding-left: 0px;
    margin-bottom: 16px;
    color: $listings-base-text-color;

    .rank {
        display: none;
    }

    .midcol {
        margin-left: 0px;
        margin-right: 16px;
    }

    .arrow {
        background-image: url($sprites);
        width: 15px;
        height: 14px;
    }

    .arrow.up {
        @extend .arrow;
        background-position: 0px 0px;
    }

    .arrow.upmod {
        @extend .arrow;
        background-position: -15px 0px;
    }

    .arrow.down {
        @extend .arrow;
        background-position: 0px -14px;
    }

    .arrow.downmod {
        @extend .arrow;
        background-position: -15px -14px;
    }

    .score.likes {
        color: $upvote-color;
    }

    .score.dislikes {
        color: $downvote-color;
    }

    a.title {
        color: $link-title-color;
        transition: text-shadow 0.3s, color 0.3s;

        &:hover,
        &:active {
            color: $link-title-color-hover;
            text-shadow: 0px 0px 10px $link-title-color;
        }

        &::visited {
            color: $link-title-color-visited;
        }
    }

    &.stickied {
        background-color: $link-background-color-sticky;
        margin-left: -16px;
        margin-right: -16px;
        padding: 16px;

        &:last-child {
            margin-bottom: 32px;
        }

        a.title {
            font-weight: normal;
            color: $link-title-color-sticky;

            &:hover,
            &:active {
                color: $link-title-color-hover-sticky;
                text-shadow: 0px 0px 10px $link-title-color-sticky;
            }
        }

        .stickied-tagline {
            color: $link-title-color-sticky;
        }
    }

    &.last-clicked {
        border: none;
    }

    .domain {
        color: $listings-background-color;
        opacity: 0.5;
        transition: opacity 0.3s;
        float: right;

        &:before {
            content: "//";
            font-size: x-small;
            color: $listings-base-text-color;
        }

        &:hover {
            opacity: 1.0;
        }
    }

    .tagline {
        margin-top: 8px;
        color: $listings-base-text-color;

        a {
            color: $link-author-color;
        }
    }

    .buttons {
        margin-top: 4px;

        li a {
            color: $listings-base-text-color;
        }
    }

    .expando-button {
        margin-top: 12px;
    }

    .usertext-body .md {
        background-color: $listings-post-background-color;
        border: none;
        border-radius: 3px;
        padding: 16px;
        color: $listings-post-text-color;
    }

    .md {
        a {
            color: $page-link-color;
            transition: color 0.3s;

            &:hover,
            &:active {
                color: $page-link-color-hover;
            }

            &:visited {
                color: $page-link-color-visited;
            }
        }

        blockquote {
            color: $greentext;
            border: none;

            p:before {
                content: ">";
                display: inline;
            }
        }

        del {
            color: $listings-post-text-color;
        }

        pre {
            background-color: $listings-post-background-color;
            padding: 16px;
            border: none;

            code {
                margin: 0;
            }
        }
    }
}


.thing.comment,
.thing.new-comment {
    border: none;
    border-radius: 3px;
    padding: 16px;
    color: $listings-post-text-color;
    margin-left: 0px;

    .usertext-body {
        border: none;
        background-color: transparent;
        padding: 0px;

        .md {
            background-color: transparent;
            padding: 0px;
        }
    }

    .tagline {
        margin-bottom: 16px;

        a.author,
        a.submitter {
            background-color: $link-title-color;
            padding: 4px;
            border-radius: 3px;
        }

        a.moderator {
            background-color: $link-author-mod-background-color;
            padding: 4px;
            border-radius: 3px;
            border: 1px solid $link-author-mod-border-color;
        }
    }

    .flat-list {
        margin-top: 16px;
    }
}

.comment .child {
    margin-top: 16px;
    margin-left: 0px;
    border-left: 0px;
}

$rule: '.commentarea';
@for $i from 1 through 10 {
    $rule: $rule + ' .comment';
    #{$rule} {
        @if $i % 2 == 0 {
            background-color: $listings-post-background-color;
        } @else {
            background-color: $listings-post-background-color-alt;
        }
    }
}